node_modules
.git
.gitignore
Dockerfile
.dockerignore

dist
coverage

*.log
.env
.env.*
!.env.example

.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.pnp.* 
